// Color
$primaryColor: #f9423a;
$secondaryColor: #797f89;
$bodyBackground: #f6f6f6;
$bodyColor: #797f89;
$white: #ffffff;
$black: #000000;
// Font Weight
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
// Border Radius
$borderRadius2: 2px;
$borderRadius4: 4px;
$borderRadius5: 5px;
$borderRadius8: 8px;
// Font Family
$bodyFont: "Lato", sans-serif;
$headingFont: "Nunito", sans-serif;