.rtcl {
  .rtcl-notices-wrapper {
    margin: 0;
  }

  .rtcl-listings-actions {
    .rtcl-result-count {
      font-family: $headingFont;
      color: #212529;
    }

    .rtcl-ordering {
      margin-right: 15px;

      .orderby {
        color: #afb3b8;
        background-color: $white;
        box-shadow: none;
        border: 1px solid #D0D0D0;
        height: 40px;
        border-radius: $borderRadius5;
      }
    }

    .rtcl-view-switcher {
      .rtcl-view-trigger {
        border: 1px solid #d0d0d0;
        color: $bodyColor;
        border-radius: 4px;
        height: 40px;
        width: 40px;
        padding: 0;
        line-height: 36px;
        text-align: center;

        &.active {
          background-color: $primaryColor;
          border-color: transparent;
          color: $white;
          box-shadow: 0 4px 10px rgba($primaryColor, 0.5);
        }

        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }
}