.rtcl {
  .rtcl-notices-wrapper {
    margin: 0;
  }

  .rtcl-listings-actions {
    .rtcl-result-count {
      font-family: $headingFont;
      color: #212529;
    }

    .rtcl-ordering {
      margin-right: 15px;

      .orderby {
        color: #afb3b8;
        background-color: $white;
        box-shadow: none;
        border: 1px solid #D0D0D0;
        height: 40px;
        border-radius: $borderRadius5;
      }
    }

    .rtcl-view-switcher {
      .rtcl-view-trigger {
        border: 1px solid #d0d0d0;
        color: $bodyColor;
        border-radius: 4px;
        height: 40px;
        width: 40px;
        padding: 0;
        line-height: 36px;
        text-align: center;

        &.active {
          background-color: $primaryColor;
          border-color: transparent;
          color: $white;
          box-shadow: 0 4px 10px rgba($primaryColor, 0.5);
        }

        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }

  .rtcl-grid-view {
    .rtcl-listing-item {
      border: none;
      border-radius: $borderRadius8;

      .listing-thumb {
        .listing-thumb-inner {
          overflow: hidden;

          .rtcl-thumbnail {
            transition: all 0.3s ease-in-out;
          }

          .rtcl-meta-buttons {
            display: flex;
            left: auto;
            bottom: auto;
            top: 20px;
            right: 15px;
            gap: 6px;
            justify-content: right;

            .rtcl-btn {
              width: 34px;
              height: 34px;
              border-radius: 50%;
              color: $bodyColor;
              background-color: $white;

              &:hover {
                background-color: $primaryColor;
                color: $white;
              }

              a {
                color: inherit;
              }
            }
          }
        }
      }

      .item-content {
        padding: 15px 25px 20px;

        .rtcl-listing-title {
          line-height: 1.5;

          a {
            color: $black;

            &:hover {
              color: $primaryColor;
            }
          }
        }

        .rtcl-price-wrap {
          margin-top: 5px;

          .rtcl-price {
            font-size: 20px;
            color: $primaryColor;
          }
        }

        .rtcl-listable {
          .rtcl-listable-item {
            color: $bodyColor;
          }
        }

        .rtcl-listing-meta-data {
          color: $bodyColor;

          li {
            margin-bottom: 8px;

            svg {
              margin-right: 5px;
            }
          }
        }
      }

      &.is-featured {
        background-color: $white;
        border: none;
      }

      &.as-top {
        background-color: #faf8e6;
        border: none;
      }

      &:hover {
        .listing-thumb {
          .listing-thumb-inner {
            .rtcl-thumbnail {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}